

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&family=Ubuntu:wght@500&display=swap');

:root {
 


   /* primary */
   --active-input-border:#0E2A94;
   --red-input-error:#FFAAAB;
   --active-input-2:#1A3D5C;


   /* neutral */
   --neutral-white:#FFFFFF;
   --neutral-grayish-violet: #D9E2FF;
   --dark-grayish-violet:#7A8FFF;

   --very-dark-violet:#050E1D;


}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesque';
}

body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.container-grid{
  display: flex;
  flex-direction: column;
}

.content-grid{
  flex-basis: auto auto;
}


.card-back-container{
  position: relative;
  height: 15rem;
  
}




/* card-resize */
.card-back{
  transform: scale(.6);
}


.card-front{
  position: absolute;
  top: 5.4rem;
  transform: scale(.6);


}




.form{
  margin-top: 5rem;
  background-color: var(--neutral-white);
  
}

form{
  display: block;
  box-sizing: border-box;
  
}

form input{
  
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  color: var(--very-dark-violet);
  font-family: sans-serif;
  text-shadow: 1px 1px var(--active-input-2);
  opacity: 1;
}











form input::placeholder{
  font-size: 1rem;
  font-weight: 700;
  color: var(--active-input-2);
  text-shadow: none;

  }

  .input:focus{
      border:0.1rem solid var(--active-input-2);
  }

.btn-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.confirm-btn{
border-radius: 10px;
height:2.5rem;
width: 100%;
}

.confirm-btn:hover{
  transform: scale(1.1);
  opacity: 0.1;
  cursor: pointer;
}



/* error */
.error{
   border: 1px solid red;
}

.alert-message{
 margin-top: -0.8rem;
 font-weight: 600;
 font-family: sans-serif;
   position: relative;
   display: flex;
   justify-content: space-between;
   color: var(--red-input-error);
   margin-bottom: 2rem;
   font-size: 0.8rem;
   
}

.mm-message-error{
   display: flex;
   justify-content: left;
   text-align: start;
   width: 50%;
   margin: 0;
   
}



.cvc-message-error{
  position: absolute;
  display: flex;
width: 50%;
right: 0%;
margin: 0;

}

.name-error,.number-error{
  color: var(--red-input-error);
  font-family: sans-serif;
  margin-top: -0.9rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
/* error ends */


.continue-btn{
  font-weight: 400;
color: var(--neutral-white);
background-color: var(--very-dark-violet);
height:2.5rem;
width: 100%;
font-family: sans-serif;
border-radius: 10px;

}

.continue-btn:hover{
  opacity: 0.5;
  cursor: pointer;

}

.hide-modal{
  visibility: hidden;
  overflow: hidden;
  display: none;
}

/* attribution */

.attribution { font-size: 11px; text-align: center; 
  text-align: center;}
   .attribution a { color: hsl(228, 45%, 44%); }



   
@media screen and (min-width:375px) {
  body{
      width: 100vw;
      height: 100vh;

  }

  
.container-grid{
  width: 100vw;
  height: 98%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


/* card */
  
.card{
  background: url('./Assets/images/bg-main-mobile.png');
background-size: cover;
align-items: center;
display: flex;
justify-content: center;

box-sizing: border-box;
}

.card-back-container{
  position: relative;
  height: fit-content;
  left: 6%;
  
}

.cvc-number{
  position: absolute;
  top: -2.7rem;
  z-index: 1;

  right:-8%;
}

.cvc-number h1{
  font-size: 1.2rem;     
color: var(--neutral-white);

}




/* card-resize */
.card-back{
  transform: scale(.65);
  
}

.logo-img{
  display: block;
padding: 0;
margin: 0;
}

.logo{
  transform: scale(0.65);
}


.card-front-bg{
  background-size: contain;
  background-clip: border-box;
  background: url('./Assets/images/bg-card-front.png');
  position: absolute;
top: 135px;
height: 165px;
width: 290px;
left: 4%;
border-radius: 10px;
color: var(--neutral-white);

}

article{
  padding: 5%;
}

article h1{
  width: 100%;
  font-size: 1.67rem;
  padding-bottom: 0.8rem;
  margin-top: 1.3rem;
  font-family: sans-serif;
  
}



.user-detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.5rem;
}
/* form */



.form{
  margin-top: 5rem;
  padding: 2% 5%;

}

form{
  display: block;
  box-sizing: border-box;
  
}

.form-label{
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--very-dark-violet);
}

label span{
  margin-left: 14%;
}



form input{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.4rem;
}


.cvc-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.exp-input{
  width: 45%;
  display: flex;
gap: 5%;
  align-items: center;
  justify-content: space-around;

}


.cvc-number-input{
  width: 52%;
}


.btn-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.confirm-btn{
font-size:1rem ;
font-weight: 400;
color: var(--neutral-white);
background-color: var(--very-dark-violet);
height:2.5rem;
width: 100%;
font-family: sans-serif;
}

/* complete modal */

.modal{
  width: 90vw;
height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  background-color: var(--neutral-white);
}



.modal-btn-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

}


.continue-btn{
  
height:2.5rem;
width: 100%;
}
}

@media screen and (min-width:1440px) {
  

  .container-grid{
    border: 1px solid black;
      height: 100%;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
  }

  .content-grid{
      width: 98vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      
  }

  .card{
      height: 95vh;
      width: 30%;
      
  }

  .card-back{
      position: relative;
      transform: scale(1);
      margin-left: 45%;
margin-top: 65%;        
  }

  .card-front-bg{
      background-size: contain;
      background-clip: border-box;
      background: url('./Assets/images/bg-card-front.png');
      position: absolute;
  top: 13%;
  height: 245px;
  width: 445px;
  left: 12rem;
  border-radius: 10px;
  }

  .logo{
      margin-top: 2.2rem;
      padding-left: 5%;
      transform: scale(1);
  }
      
  
  article h1{
      font-size: 2.55rem;
      font-family: sans-serif;
      flex-wrap: nowrap;
      margin-top: 1.8rem;
  }
  
  .user-detail h2{
      font-size: 1rem;

  }

  .form{
      margin-left: 18%;
      /* margin-left: ; */
  }


  .form-label{
      font-weight: 700;
      color: var(--very-dark-violet);
      font-size: 1.2rem;

  
  }

  .form-label span{
      margin: 1.2rem;
  }

  .cvc-number {
      position: absolute;
      top: 22.2rem;
      z-index: 1;
      left:26rem;
  }

  .cvc-number h1{
      font-size: 1.5rem;     
 color: var(--neutral-white);
  }

  
label span{
  margin-left: 24%;
}


.confirm-btn{
  font-size:1.2rem ;
  font-weight: 400;
  color: var(--neutral-white);
  background-color: var(--very-dark-violet);
  height:2.5rem;
  width: 100%;
  font-family: sans-serif;
  }
  







.modal {
  width: 30%;
  height: fit-content;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  background-color: var(--neutral-white);
  left: 55%;
  top: 10%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1; 
}


.modal-btn-container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;

}



.continue-btn{
  
height:2.5rem;
width: 80%;
}



.logo{
  transform: scale(1);
}
  



.modal article{
  text-align: center;
}

.modal article h1{
  font-size: 2.2rem;
}

.modal article p{
  font-size: 1.5rem;
  font-weight: 500;
}

}

